{
  "presets": [
    ["@babel/preset-react", { "modules": false }],
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["babel-plugin-styled-components", { "ssr": true, "pure": true }]
  ]
}
